{{ set(this, 'title', 'My Yii Application') }}

<div class="site-index">
  <div class="jumbotron">
    <h1>Congratulations!</h1>

    <p class="lead">You have successfully created your Yii-powered
      application.</p>

    <p><a class="btn btn-lg btn-success"
          href="http://www.yiiframework.com">Get started with Yii</a></p>
  </div>

  <div class="body-content">
    <div class="row">
      <div class="col-lg-4">
        <h2>Sit quae nostrum</h2>

        <p>Adipisicing obcaecati tempore laborum accusantium libero velit? Est
          repellat pariatur quae necessitatibus ut odio eum? Tempora quae fugit
          aliquam reiciendis a. Quis corrupti nesciunt facere minima odio vitae
          odio beatae.</p>

        <p><a class="btn btn-default"
              href="http://www.yiiframework.com/doc/">Yii Documentation</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Lorem impedit nihil</h2>

        <p>Amet distinctio maxime odit ipsam consequatur amet est cupiditate
          corrupti. Necessitatibus nulla qui neque explicabo excepturi veniam
          mollitia. Soluta libero neque facilis quibusdam illo, consectetur
          odio quae minus labore ea.</p>

        <p><a class="btn btn-default"
              href="http://www.yiiframework.com/forum/">Yii Forum</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Amet assumenda neque</h2>

        <p>Adipisicing lorem unde non voluptatum autem dolorem expedita. Nisi
          eius iste nostrum autem voluptatum similique magni nemo quidem nulla.
          Placeat quaerat unde omnis repellendus architecto mollitia! Aut
          praesentium porro aut?</p>

        <p><a class="btn btn-default"
              href="http://www.yiiframework.com/extensions/">Yii Extensions</a></p>
      </div>
    </div>
  </div>
</div>
